*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    
}
.box{
    width: 65%;
    height: 100vh;
    position :absolute;
    background-image: url(img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    animation: inright 1s ease-in;
    
}
@keyframes inright
{
    0%{left: -50%};
    50%{left: -25%;}
    100%{left: 0%;}
}
.details{
    padding: 50px;
    box-sizing: border-box;
    color: white;
    position: absolute;
    width: 65%;
    height: 100vh;

}
.form{
    width: 50%;
    height: 0px;
    border-bottom: 100vh solid cadetblue;
    border-left: 100px solid transparent;
    position: absolute;
    left: 50%;
    animation: inleft 1s ease-in;

}
@keyframes inleft
{
    0%{left: 100%};
    50%{left: 75%};
    100%{left: 50%;}
}
/*.shop{
    height: 200px;
    width: 150px;
    position: absolute;
    top: 70%;
    animation: come 1s 1s ;

}
@keyframes shop{
    0%{bottom: -10%};
    100%{bottom: 20%};
}*/
.header{
    position: absolute;
    top: -400px;
    margin-left: 10%;
    font-size: 40px;
    font-family: 'Krona One', sans-serif;
    animation: headanimation 1s 1s linear forwards;
}
@keyframes headanimation
{
    0%{top: -400px;}
    100%{top :10%;}
}
.logo{
    position: absolute;
    top: 20%;
    left: -400px;
    width: 300px;
    height: 200px;
    background-image: url(logo.png);
    background-size: cover;
    animation: logoanimation 1s 2s linear forwards;
}
@keyframes logoanimation {
    0%{left: -400px;}
    100%{left: 0%;}
    
}
.para{
    position: absolute;
    width: 50%;
    color:black;
    margin-left: 10%;
    bottom: -400px;
    font-family: 'New Tegomin', serif;
    font-size:20px ;
    animation: paraanimation 1s 3s linear forwards;
}
@keyframes paraanimation {
    0%{bottom: -400px;}
    100%{bottom: 40%};
}
